body {
  font-family: Arial, sans-serif;
  background: #f9f9f9;
  margin: 40px;
}

h1 {
  color: #333;
  text-align: center;
}
input {
  padding: 6px;
  font-size: 1em;
}
button {
  margin-left: 8px;
  padding: 4px 10px;
  font-size: 0.95em;
  border: 1px solid #bbb;
  background: hsl(0, 100%, 51%);
  cursor: pointer;
  border-radius: 3px;
  align-items: center;
}
button:hover {
  background: #ddd;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  margin: 8px 0;
  background: #fff;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.04);
  display: flex;
  align-items: center;
}
li button {
  margin-left: auto;
}

.input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}